/* RESET */
/* **** */

*{
    box-sizing: border-box;
    
   
}

body{
    margin: 5px
    padding: 6px;
    border-style: solid;
    
    
    
}

.contenedor{
    margin-top: 0px;;
    

}

html{
    margin: 5px;
    
    
  
}

header{
     margin: 5px;

}

.superior{
    margin: 5px;
}

.content{
    margin: 5px;
    
}
.sidebar{
    margin: 5px;
}
footer{
    margin: 5px;
    padding-top: 0;
    
}

p{
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 0;
}